@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono|Raleway:400,200,600);
input {
  border-radius: 5px;
  border: 1px solid #AAA;
  display: block;
  font-size: 14px;
  margin: 20px auto;
  max-width: 400px;
  padding: 10px;
  text-align: center;
  width: 100%; }
  input:focus {
    border-color: #666;
    outline: none; }

button, .button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #AAA;
  color: #666;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin: 10px auto;
  max-width: 400px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; }
  button.disabled, .button.disabled {
    border-color: #CCC;
    color: #AAA;
    cursor: default; }
  button:not(.disabled):hover, .button:not(.disabled):hover {
    border-color: #000;
    color: #000; }

#timer {
  font-family: Courier, 'Courier New', monospace;
  font-size: 2em;
  margin: 10px; }

span.player-name {
  font-style: italic; }

span.game-id {
  font-family: Courier, 'Courier New', monospace;
  font-size: 1.1em; }

.word:before {
  content: open-quote; }

.word:after {
  content: close-quote; }

.phase-instructions {
  text-align: center; }

#current-word {
  font-size: 4em;
  padding: 20px;
  text-align: center; }

.button.correct,
.button.skip {
  font-size: 2em; }
  .button.correct:not(.disabled):hover,
  .button.skip:not(.disabled):hover {
    border-color: #000; }

.button.correct {
  color: #0F0; }
  .button.correct.disabled {
    color: #696; }
  .button.correct:not(.disabled):hover {
    background: #EFE;
    color: #0F0; }

.button.skip {
  color: #F00; }
  .button.skip.disabled {
    color: #966; }
  .button.skip:not(.disabled):hover {
    background: #FEE;
    color: #F00; }

.game-over-stats {
  line-height: 1.4; }
  .game-over-stats .category {
    display: flex;
    flex-flow: row nowrap; }
  .game-over-stats .category-title,
  .game-over-stats .category-content {
    flex-basis: 0;
    padding: 10px 5px; }
  .game-over-stats .category-title {
    flex-grow: 1;
    text-align: right;
    font-weight: 600; }
  .game-over-stats .category-content {
    flex-grow: 2;
    text-align: left; }

.delete-button {
  margin-top: 50px; }

.debug {
  background: #FAFAFA;
  margin-top: 50px;
  padding: 20px;
  text-align: left; }
  .debug h4 {
    font-family: monospace;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left; }
  .debug pre {
    font-family: monospace;
    white-space: pre-wrap; }

.recent-games {
  margin: 20px auto;
  max-width: 400px; }
  .recent-games a {
    background: #FAFAFA;
    display: block;
    margin: 5px auto;
    padding: 5px; }

#team-list {
  margin: 20px auto;
  max-width: 400px; }
  #team-list .team {
    border-left: 1px solid transparent;
    border-radius: 10px;
    border-right: 1px solid transparent;
    margin: 10px 0;
    padding: 10px;
    text-align: left; }
    #team-list .team.joinable {
      cursor: pointer; }
      #team-list .team.joinable:hover {
        border-left-color: #AAA;
        border-right-color: #AAA; }
    #team-list .team.current h1 {
      font-weight: 600; }
    #team-list .team h1 {
      border-bottom: 1px solid #EEE;
      color: #666;
      display: flex;
      flex-flow: row wrap;
      font-size: 1.3em;
      font-weight: 400;
      justify-content: space-between;
      margin: 0;
      padding: 2px 10px; }
    #team-list .team ol {
      font-weight: 200;
      margin: 0 10px;
      padding: 10px 20px; }
      #team-list .team ol li.current {
        font-weight: 600; }
      #team-list .team ol li.waiting {
        color: #CCC; }

* {
  box-sizing: border-box; }

body {
  font: 14px "Raleway", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center; }

main {
  margin: 5% auto 0;
  max-width: 600px;
  padding: 40px; }

p {
  font-size: 1.1em;
  margin: 10px auto;
  max-width: 400px;
  text-align: left;
  text-indent: 20px;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  text-align: center; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 24px; }

hr {
  border-top: 1px solid #CCC;
  border-bottom: none;
  margin: 20px 0px; }

a {
  color: #666; }

footer a {
  font-size: 12px;
  display: inline-block; }

/*# sourceMappingURL=main.css.map */