<h1>Guess</h1>
<div>
  <span class="player-name">{{game.currentPlayer.name}}</span> is up.
</div>
<div class="words-remaining">{{add 1 game.wordsInBowl.length}} words remaining.</div>

{{> game/last_correct_word}}
{{> game/timer}}
{{> game/team_list}}