<div id="game-page">
  {{#if game.gameEnded}}
    {{> game/scores}}
  {{else if (not game.gameStarted)}}
    {{> game/join_teams}}
  {{else}} {{!--Middle of game--}}
    {{#if (equal player.id currentPlayer.id)}}
      {{> game/current_player}}
    {{else if (equal game.currentTeamIndex player.team)}}
      {{> game/guessing_player}}
    {{else}}
      {{> game/waiting_player}}
    {{/if}}
  {{/if}}
  {{!--{{> game/debug_panel}}--}}
</div>