<div class="debug">
  <h3>Debug Info</h3>
  <h4>game</h4>
  <pre>{{json game true}}</pre>
  <h4>phase</h4>
  <pre>{{json phase true}}</pre>
  <h4>teams</h4>
  <pre>{{json teams true}}</pre>
  <h4>currentPlayer</h4>
  <pre>{{json currentPlayer true}}</pre>
</div>