<div id="how-to-play-page">
  <h1>How to Play SaladBowl</h1>

  <p>
    SaladBowl is based off of a popular party game that goes by many names including Salad Bowl, Bowl of Nouns, Nouns
    and Proper Nouns, and The Nouns Game.
  </p>

  <p>
    To play, you will need a group of at least 4 people, though larger groups are preferable.
    Everyone will need an internet-enabled device to play.
    On the main page, start a new game and give it a name.
  </p>

  <p>
    Now everyone needs to join this game.
    They can do this by entering the GameID on the homepage, or by simply going to the url of the game.
  </p>

  <p>
    When you have joined a game, first enter your name.
    After this you will be asked to submit your nouns to the "bowl".
    Try to be creative.
  </p>

  <p>
    Once you have entered your nouns, you will need to join a team.
    Join a team by clicking/tapping on it.
    When everyone is satisfied with the teams, press the "Start Game" button.
  </p>

  <p>
    The game will have 3 rounds.
    During a round, teams will alternate taking 60 second turns until the round is over.
    On a team's turn, one person will be the reader.
    The reader will randomly receive one noun at a time.
    The rest of the team will attempt to guess the noun the reader has.
    When a teammate guesses correctly, the reader presses the "CORRECT" button, and their team receives one point.
    If the reader doesn't like a noun, they can press the "SKIP" button to draw a new noun.
    There is no penalty for skipping.
  </p>

  <p>
    During each round, the restrictions imposed on the reader vary.
    In the first round, the reader is allowed to speak any words that are not contained in the noun they are reading.
    No gestures are allowed.
    In the second round, the reader is not allowed to make any noise and must instead use actions to convey their
    message.
    In the final round the reader is only allowed to say one word per noun.
    Like in the first round, no gestures are allowed.
  </p>

  <p>
    When all the nouns have been correctly guessed and the "bowl" is empty, the round is over.
    The nouns go back into the "bowl" and the next round begins.
  </p>

  <p>
    The team with the most points after all three rounds is the winner.
  </p>

  <hr>
  <a class="button" href="/">Back</a>
</div>

