<form method="GET">
  <h1>Join a Game</h1>
  <hr>
  <input type="text" name="game-id" placeholder="Game ID" autofocus>
  <button type="submit" autofocus>Go</button>
  <a class="button" href="/">Back</a>
</form>