<form method="GET">
  <h1>Join a Game</h1>
  <hr> {{!--TODO: Don't do this with a form submit. (later me: Why not?) --}}
  <input autocapitalize="off" autocorrect="off" autofocus name="game-id" placeholder="Game ID" type="text">
  <button type="submit">Go</button>
  <a class="button" href="/">Back</a>
</form>