<div id="join-page">
  <h1>Joining Game &ndash; {{game.name}}</h1>
  <h4>{{game._id}}</h4>
  <hr>
  <form method="POST">
    <input autofocus name="playerName" placeholder="Enter your name" value="{{username}}">
    <button type="submit">Join Game</button>
    <a class="button" href="/">Back</a>
  </form>
</div>
