<form method="GET">
  <h1>Join a Game</h1>
  <hr>
  {{!--TODO: Don't do this with a form submit--}}
  <input type="text" name="game-id" placeholder="Game ID" autofocus>
  <button type="submit">Go</button>
  <a class="button" href="/">Back</a>
</form>