<div class="new-game">
  <h1>New Game</h1>
  <hr>
  <form method="POST">
    <input name="gameName" placeholder="Name your game" autofocus>

    <div class="button-row">
      <button type="submit">Create</button>
      <a class="button" href="/">Back</a>
    </div>
  </form>
  <hr>
</div>
