
.debug-bar {
  background: #FAFAFA;
  margin-top: 50px;
  padding: 20px;
  text-align: left;

  h4 {
    font-family: monospace;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  pre {
    font-family: monospace;
    white-space: pre-wrap;
  }
}