@import "util";

$spacing: 10px;

input {
  border-radius: 5px;
  border: 1px solid #AAA;
  display: block;
  font-size: 14px;
  margin: $spacing auto;
  max-width: 400px;
  padding: 10px;
  text-align: center;
  width: 100%;

  &:focus {
    border-color: #666;
    background: #FAFAFA;
    outline: none;
  }
}

label {
  color: #AAA;
  display: block;
  margin: $spacing auto;

  input:first-of-type {
    margin-top: 5px;
  }
}

button, .button {
  @include user-select(none);
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #AAA;
  color: #666;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin: $spacing auto;
  max-width: 400px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    border-color: #000;
    color: #000;
  }

  &:focus {
    background: #FAFAFA;
    outline: none;
  }

  &.disabled, &:disabled, &.disabled:hover, &:disabled:hover {
    border-color: #CCC;
    color: #AAA;
    cursor: default;
  }
}