@import "util";
@import "variables";

$spacing: 10px;
$padding: 10px 20px;
$max-width: 400px;

input {
  border-radius: 5px;
  border: 1px solid $gray2;
  display: block;
  font-size: 14px;
  margin: $spacing auto;
  max-width: $max-width;
  padding: $padding;
  text-align: center;
  width: 100%;

  &:focus {
    border-color: $gray1;
    background: $gray5;
    outline: none;
  }
}

label {
  color: $gray2;
  display: block;
  margin: $spacing auto;

  input:first-of-type {
    margin-top: 5px;
  }
}

button, .button {
  @include user-select(none);
  background: $white;
  border-radius: 5px;
  border: 1px solid $gray2;
  color: $gray1;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin: $spacing auto;
  max-width: $max-width;
  padding: $padding;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    border-color: $black;
    color: $black;
  }

  &:focus {
    border-color: $gray1;
    outline: none;
  }

  &:active {
    border-color: $gray1;
    background: $gray5;
  }

  &.disabled, &:disabled, &.disabled:hover, &:disabled:hover {
    border-color: $gray4;
    color: $gray4;
    cursor: default;
  }
}