//
input {
  border-radius: 5px;
  border: 1px solid #AAA;
  display: block;
  font-size: 14px;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  max-width: 400px;

  &:focus {
    border-color: #666;
    outline: none;
  }
}

//
button, .button {
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #AAA;
  color: #666;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin: 10px auto;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  max-width: 400px;

  flex-shrink: 1;

  &:hover {
    border-color: #000;
    color: #000;
  }
}