@import "variables";

.timer {
  font-family: $font-monospace;
  font-size: 2em;
  margin: 10px;
}

.player-name {
  font-style: italic;
}

.game-id {
  font-family: $font-monospace;
  font-size: 1.1em;
}

.word {
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

.phase-instructions {
  text-align: center;
}

.current-word {
  font-size: 4em;
  padding: 20px;
  text-align: center;
  word-wrap: break-word
}

.correct-word-button,
.skip-word-button {
  font-size: 2em;

  &:not(:disabled):hover {
    border-color: $black;
  }
}

.correct-word-button {
  color: $green;
  &:disabled {
    color: $dark-green;
  }
  &:not(:disabled):hover {
    background: $light-green;
    color: $green;
  }
}

.skip-word-button {
  color: $red;
  &:disabled {
    color: $dark-red;
  }
  &:not(:disabled):hover {
    background: $light-red;
    color: $red;
  }
}


.skip-player-button {
  color: $red;
  &:disabled {
    color: $dark-red;
  }
  &:not(:disabled):hover {
    background: $light-red;
    color: $red;
  }
}
