
#timer {
  font-family: Courier, 'Courier New', monospace;
  font-size: 2em;
  margin: 10px;
}

span.player-name {
  font-weight: 600;
}

span.game-id {
  font-family: Courier, 'Courier New', monospace;
  font-size: 1.1em;
}

.last-correct-word {
  font-weight: bold;
}

.phase-instructions {
  text-align: center;
}

#current-word {
  font-size: 4em;
  padding: 20px;
  text-align: center;
}

.button.correct,
.button.skip {
  font-size: 2em;

  &:not(.disabled):hover {
    border-color: #000;
  }
}

.button.correct {
  color: #0F0;
  &.disabled {
    color: #696;
  }
  &:not(.disabled):hover {
    background: #EFE;
    color: #0F0;
  }
}

.button.skip {
  color: #F00;
  &.disabled {
    color: #966;
  }
  &:not(.disabled):hover {
    background: #FEE;
    color: #F00;
  }
}

.debug {
  background: #FAFAFA;
  margin-top: 50px;
  padding: 20px;
  text-align: left;

  h4 {
    font-family: monospace;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  pre {
    font-family: monospace;
    white-space: pre-wrap;
  }
}