@import "debug";
@import "errors";
@import "fonts";
@import "form";
@import "game";
@import "game-over";
@import "team-list";
@import "util";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  margin: 5% auto 0;
  max-width: 600px;
  padding: 40px;
}

p {
  font-size: 1.1em;
  margin: 10px auto;
  max-width: 400px;
  text-align: left;
  text-indent: 20px;
  line-height: 1.5;
}

pre {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  text-align: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

hr {
  border-top: 1px solid $gray2;
  border-bottom: none;
  margin: 20px 0;
}

a {
  color: $gray1;

  &:focus, &:active {
    color: $black;
    outline: none;
  }
}

footer a {
  font-size: 12px;
  display: inline-block;
}