@import 'fonts';
@import 'form';
@import 'index';
@import 'new-game';
@import 'add-word';
@import 'team-list';
@import 'game';

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}

body {
  font: 14px "Raleway", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  margin: 5% auto 0;
  max-width: 600px;
  padding: 40px;
}

p {
  font-size: 1.1em;
  margin: 10px auto;
  max-width: 400px;
  text-align: left;
  text-indent: 20px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  text-align: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

hr {
  border-top: 1px solid #CCC;
  border-bottom: none;
  margin: 20px 0px;
}

a {
  color: #666;
}

footer a {
  font-size: 12px;
  display: inline-block;
}