#team-list {
  margin: 20px auto;
  max-width: 400px;

  .team {
    border-left: 1px solid transparent;
    border-radius: 10px;
    border-right: 1px solid transparent;
    margin: 10px 0;
    padding: 10px;
    text-align: left;

    &.joinable {
      cursor: pointer;

      &:hover {
        border-left-color: #AAA;
        border-right-color: #AAA;
      }
    }

    &.current {
      h1 {
        font-weight: 600;
      }
    }

    h1 {
      border-bottom: 1px solid #EEE;
      color: #666;
      display: flex;
      flex-flow: row wrap;
      font-size: 1.3em;
      font-weight: 400;
      justify-content: space-between;
      margin: 0;
      padding: 2px 10px;
    }

    ol {
      font-weight: 200;
      margin: 0 10px;
      padding: 10px 20px;

      li.current {
        font-weight: 600;
      }
    }
  }
}