/*
 * One easy place to go to configure styles across pages.
 */

// FONTS
$font-main: "Raleway", Helvetica, Arial, sans-serif;;
$font-monospace: monospace;


// COLORS
$black: #111;
$gray1: #666;
$gray2: #AAA;
$gray4: #EEE;
$gray5: #FAFAFA;
$white: #FFF;

$red: #F00;
$dark-red: #966;
$light-red: #FDD;

$green: #F00;
$dark-green: #696;
$light-green: #F00;
